body{
    background-color: #363f4d;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

h1{
    margin: 3vw;
    font-weight: bold;
    text-shadow: 0px 0px 20px #fff;
    text-align: center;
}

.ListStyle{
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
ul{
    width: 80%;
}

li{
    cursor: default;
    border: #8A244B 5px solid;
    margin-top: 20px;
    text-align: justify;
    padding: 20px;
    box-shadow: 0px 0px 20px #8A244B;
    border-radius: 20px;
    background: #D02752;
    background: linear-gradient(90deg,#D02752 0%, #F63049 100%);
}

li:hover{
    transition: all 0.3s;
    transform: scale(1.03);
    box-shadow: 0px 10px 20px #ff0062;
    padding: 30px;
    font-size: 20px;
    border-radius: 50px;
    border-color: #ff0062;
    color: white;
}

li:not(:hover){
    transition: all 0.3s;
    transform: scale(1);
    box-shadow: 0px 10px 20px #8A244B;
}

#SelectedData{
    float: right;
    display: grid;
    grid-template-columns: 1em auto;
    width: 2rem;
    height: 2rem;
    appearance: none;
    border: #fff solid 3px;
    border-radius: 5px;
    place-content: center;
    margin: auto 0;
    cursor: pointer;
}

#SelectedData::before{
    content: "";
    width: 1rem;
    height: 1rem;
    transform: scale(0);
    transition: 0.1s transform ease-in-out;
    box-shadow: inset 0px 0px 50vw #ffffff;
    align-content: center;
    margin: 0 auto;
}

#SelectedData:checked{
    box-shadow: #8A244B 0px 0px 20px;
    transition: all 0.3s;
}

#SelectedData:checked::before {
    transform: scale(1);
}

.BtnDiv{
    padding: 1rem;
}

.Btn{
    border-radius: 10px;
    float: left;
    padding: 2vw;
    width: 10rem;
    margin: 3vw;
    background-color: #D02752;
    border: #fff 3px solid;
    box-shadow: 0px 20px 20px #0E2148;
    color: #fff;
    font-size: 20px;
}

.Btn:hover{
    box-shadow: 0px 15px 20px #8A244B;
    transition: all 0.3s;
    transform: scale(1.1);
    border-radius: 50px;
    border-color: #fff;
    color: #fff;
}

.Btn:not(:hover){
    box-shadow: 0px 15px 20px #0E2148;
    transition: all 0.3s;
    transform: scale(1);
    border-color: #8A244B;
}

.Btn:active{
    box-shadow: 0px 0px 50px #8A244B;
    transition: all 0.1s;
    transform: scale(0.9);
    border-radius: 50px;
    border-color: #fff;
    color: #fff;
}

.placeHDiv{
    padding: 1vw;
    align-items: center;
    align-content: center;
}

.PlaceHoldClass{
    margin: 1vw;
    text-align: center;
}